*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
 h1{
    margin-top: 10px;
 }

.logo{
    margin: 50px 0 0 20px;
    width: 400px;
}

.pattern{
    height: 150px;
    background-color: #4283d9;
    background-image: url(../img/pattern.png);
}

.gray{
    color: gray;
}

header span{
    color: #4283d9;
}

/* bonus  */
main{
    width: 80%;
    margin: auto;
}

.under-img{
    font-size: 10px;
}

.highlighted{
    background-color: yellow;
}

thead{
    background-color: #4283d9;
    color: white;
    text-align: left;

}

.table-blue{
    background-color: lightblue;
}

.table-large{
    width: 50%;
}

.suggest{
    color: white;
    font-size: 20px;
}

.img-1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
}

.img-2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
}